<div>
  <!-- 导航 -->
  <nav class="bg-gray-800">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <!-- 左侧 Logo -->
        <div class="flex items-center text-white text-3xl">
          Tech Info
        </div>
        <!-- 导航 -->
        <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-6 pl-10">
              <!-- 当前选中分类类名为: "bg-gray-900 text-white px-6 py-2 rounded-md text-sm font-medium" -->
              <a href="#" class="nav-item-cur" aria-current="page">
                首页
              </a>
              <a href="#" class="nav-item">
                科技
              </a>
              <a href="#" class="nav-item">
                生活
              </a>
              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-6 py-2 rounded-md text-sm font-medium">
                体育
              </a>
              <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-6 py-2 rounded-md text-sm font-medium">
                娱乐
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>