<%- include("./layouts/base.html") %>
</head>
<body>
  <%- include("./layouts/header.html") %>

  <div class="max-w-7xl mx-auto py-4">
    <h1 class="text-4xl sm:text-xl lg:text-6xl leading-none font-extrabold tracking-tight text-gray-900 mt-10 mb-8 sm:mt-14 sm:mb-10">
      文章标题
    </h1>
    <div class="sm:text-2xl font-medium">
      <p>月球样品首次离京展出。</p>
      <br>
      <p>2021年“中国航天日”启动仪式暨2021年中国航天大会开幕式在江苏南京举行。在航天日科普区域，展出了重大航天工程航天器模型、实物展品，特别是月球样品实物及嫦娥五号返回舱、降落伞等实物首次在京外展出。</p>
      <br>
      <p>此次展出的月壤，观众不仅可以通过肉眼观看，而且还可以通过显微镜进行观看。现场工作人员告知，通过30倍的显微镜可以让观众更加细致地观看月壤。</p>
      <br>
      <p>去年12月17日，嫦娥五号探测器的返回器成功降落在内蒙古四子王旗，此次任务带回1731克月壤样品。</p>
    </div>
  </div>
  
  <%- include("./layouts/footer.html") %>
</body>
</html>